@import "~@/lib/reset.scss";
.App .container .box header{
    position: absolute;
    z-index: 9999;
    background: rgba(255, 255,255, 0);
    border: 0;
    color: #000;
}
.space-carousel {
  padding: 16px;
  background: #DEF1E5;
  overflow: hidden;
}
h3{
    color:#000;
}
.slider-decorator-0{
    display: none;
}
.am-navbar-light{
    color:#000;
}
.my-carousel .v-item {
  height: 36px;
  line-height: 36px;
  padding-left: 10px;
}
.sub-title {
  color: #888;
  font-size: 14px;
  padding: 30px 0 18px 0;
}
.slider-slide{
    text-align: center;
    color:#000;
    background:#fff;
}
body,html{
    background: #eee;
    overflow: auto;
    height: 100%;
    padding-bottom: 0.4rem;
}
.slider-frame{
    background:#fff;
}
.App .container .box .content{
    background:#eee;
}
.select{
    padding-top:20px;
    background:#fff;
}
.am-navbar-title{
    font-size: 12px;
}
    .server{
        @include rect(100%,auto);
        @include background-color(#fff);
        margin: 10px 0;
        color:#000;
        padding: 10px;
        ul{
            @include rect(100%,100%);
            @include flexbox();
            li{
                @include flex();
                @include rect(auto, 100%);
                
                a{
                    @include flexbox();
                    @include flex-direction(column);
                    @include justify-content();
                    @include align-items();
                    @include text-color(#000);
                    font-size: 12px;
                    span{
                        @include font-size(0.2rem);
                        }
                        p{
                            @include font-size(0.1rem);
                            margin-bottom: 10px;
                        }
        
                        &.active{
                            @include text-color(#000)
                        }
                }
                
            }
        }
    }
    .my-list .spe .am-list-extra {
  flex-basis: initial;
}
.am-list-item .am-list-line .am-list-extra{
    font-size: 12px;
}
.am-list-item .am-list-line .am-list-content{
    background:#fff;
    font-size: 12px;
    color: #888;
    width: 46%;
}
@media (-webkit-min-device-pixel-ratio: 2), not all, (min-resolution: 2dppx){
    background-color:#fff;
}
.am-navbar-left{
    font-size: 12px;
    color: #888;
}
.am-navbar-right{
    font-size: 12px;
    color: aquamarine;
}
footer{
    @include rect(100%,0.44rem);
    @include flexbox();
    @include justify-content();
    @include align-items;
    position: absolute;
    bottom: 0;
    color:#000;
    z-index: 999;
    p{
        text-align: center;
        line-height: 0.44rem;
        @include rect(25%,100%);
    }
    .shou{
        @include rect(75%,100%);
        background: aqua;
    }

}
.rela{
    img{
        width:70%;
    }
    p{
        color:#333;
    }
}